@charset "UTF-8";
html {
  font-size: 62.5%;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  /* 背景画像のリピートの仕方を指定する */
  background: #151515 url("mcoding/singlepage-layout/images/bg.png") no-repeat
    fixed left bottom;
  background-size: cover;
  color: #fff;
  text-align: center;
  /* ブラウザのデフォルトは16pxなので10px相当 */
  font-size: 1.4rem;
  /* 指定の順序は欧文フォント→日本語フォント/英数記号に欧文フォントを当てることができる */
  font-family: Raleway, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}
