@charset "UTF-8";
html {
  font-size: 62.5%;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  /* 背景画像のリピートの仕方を指定する */
  background: #151515 url("mcoding/singlepage-layout/images/bg.png") no-repeat
    fixed left bottom;
  background-size: cover;
  color: #fff;
  text-align: center;
  /* ブラウザのデフォルトは16pxなので10px相当 */
  font-size: 1.4rem;
  /* 指定の順序は欧文フォント→日本語フォント/英数記号に欧文フォントを当てることができる */
  font-family: Raleway, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}
.header {
  /* emmet区切りは-(ハイフン) */
  padding: 170px 30px 80px;
}
.site-title-sub {
  margin: 0 0 30px;
  letter-spacing: 1px;
  font-size: 2.2rem;
}
.site-title-sub::before,
.site-title-sub::after {
  content: "";
  display: inline-block;
  width: 140px;
  height: 2px;
  margin: 0 30px;
  background-color: #fff;
  /* 行の縦方向の揃え位置を指定 */
  vertical-align: middle;
}
.site-title {
  margin: 50px 0 40px;
  font-size: 7.6rem;
}
.site-description {
  margin-bottom: 50px;
  color: #888;
  font-size: 1.6rem;
}
.button {
  display: inline-block;
  width: 200px;
  padding: 20px;
  border-radius: 4px;
  background-color: #afa58d;
  color: #fff;
  text-decoration: none;
  letter-spacing: 1.2rem;
  font-size: 1.2rem;
}
.buttion:hover {
  opacity: 0.9;
}
/* スタイルの指定は順番が早い程、優先度が高くなる */
.button-showy {
  background-color: #f1b400;
}
.buttons .button {
  margin: 10px;
}
.about {
  padding: 80px 30px;
  background-color: #fff;
  color: #333;
}
/* 二重線を文字の範囲に限定するため,inline-block */
.heading {
  position: relative;
  display: inline-block;
  margin: 30px 0 15px;
  padding-bottom: 15px;
  letter-spacing: 2px;
  font-size: 4rem;
}
/* .headingを基準に空白のコンテントを下に5pxずらす事で二重線を表現 */
.heading::before,
.heading::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid #999;
}
.heading::before {
  bottom: 5px;
}
.about-text {
  margin: 30px 0;
  line-height: 2.5;
}
.works {
  background-color: #383634;
  padding: 80px 0;
}
.works-wrapper {
  display: table;
  width: 100%;
  margin-top: 60px;
  /* 子要素の横幅が異なる場合でも均等にすることができる */
  table-layout: fixed;
}
.work-box {
  display: table-cell;
  position: relative;
}
.work-image {
  display: block;
  width: 100%;
  /* marginとpaddingは%指定した時親要素の横幅を100%の基準にする */
  margin: 0 0 60%;
}
.work-box::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 50%;
  background: no-repeat;

  background-size: 100% 100%;
  opacity: 0.2;
  /* 景色が水面に投影されているかのような演出。拡大縮小を指定.-1で縦方向に反転 */
  transform: scaleY(-1);
}
.work-description {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 50%;
  overflow-y: auto;
}
.work-description-inner {
  display: table;
  width: 100%;
  height: 100%;
  padding: 20px;
}
.work-text {
  display: table-cell;
  vertical-align: middle;
  font-size: 1.2rem;
  line-height: 2;
}
.work-text .button {
  width: 60%;
  margin-top: 20px;
  padding: 3px;
}
.button-gohst {
  border: 1px solid #fff;
  background-color: rgba(255, 255, 255, 0.15);
}
.work-box.tree::after {
  background-image: url(mcoding/singlepage-layout/images/tree.jpg);
}
.work-box.building::after {
  background-image: url(mcoding/singlepage-layout/images/building.jpg);
}
.work-box.lake::after {
  background-image: url(mcoding/singlepage-layout/images/lake.jpg);
}
.work-box.sky::after {
  background-image: url(mcoding/singlepage-layout/images/sky.jpg);
}
.work-box:nth-child(odd) .work-image {
  margin: 60% 0 0;
}
.work-box:nth-child(odd) .work-description,
.work-box:nth-child(odd)::after {
  top: 0;
}
